.profcontainer{
    display: flex;
   justify-self: auto;
    /* width: 1440px; */
height: 1024px;
/* flex-wrap: wrap; */
flex: 1;
}
.pro1{
    justify-content: space-between;
    margin-left: 2px;
    background: linear-gradient(0deg, rgba(21, 101, 216, 0.90) 0%, rgba(21, 101, 216, 0.90) 100%), url('../images/back.jpg'), lightgray 50% / cover no-repeat;

}
.pro1 p {
    margin-top: 30%;

    color: #FFF;

    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 190% */

}
.pro1 h5 {
    color: antiquewhite;
    padding-left: 33px;
}
.pro2 {
    
   padding-left: 33px;
}
.pro2 p {
    color: #8692A6;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 155.556% */
}
.arrow{
    margin-top: 52%;
}
.arrw{
    height: 3vmin;
    margin-top: 50%;
}
/* .hot1 {
    position: relative;
    display: flex;
    flex-direction: row;
    color: aqua;
}
.hot2{
    margin-top: 3%;
    padding-left: 24%;
    color: #8692A6;
}
.hot3{
    margin-top: 5%;
    padding-left: 2%;
} */